<div class="col-md-12 col-sm-12">
    <div class="card text-center">
        <div class="card-body mt-2">
            <div class="form-group form-inline d-flex justify-content-center">
                <div class="input-group mr-2 mb-1">
                    <input type="tnumber" class="form-control" placeholder="0" name="CRP" [(ngModel)]="CRP">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-info btn-lighten-2">
                            ETH/ETC
                        </button>
                    </div>
                </div> 
                <div class="input-group mr-2 mb-1">
                    <input type="number" class="form-control" placeholder="0" name="USD" value="{{this.USD}}">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-info btn-lighten-2">
                            USD
                        </button>
                    </div>
                </div>
            </div>
            <select (change)="getType($event.target.value)">
                <option selected = "selected" hidden></option>
                <option value="1">Ethereum</option>
                <option value="2">Ethereum classic</option>
            </select>
            <br>
            <button type="button" class="btn btn-danger exchange my-2" (click)="countResult()">
                <i class="la la-exchange font-medium-1"></i>
                <span class="font-medium-1"> Exchange </span>
            </button>
        </div>
    </div>
</div>